:host{
    .chip{
        background-color: #0033aa;
        color: white;
        min-width: 100px;
        justify-content: center;
    }
    .example-card {
        width: 100%;
        margin-bottom: 8px;
      } 
      .card{
        margin-top: 10px;
      } 
}