
<div class="container">
    <h1>https://dq-hub.standardbank.co.za/validate-data</h1>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ ELEMENT_DATA | json }}</pre>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Response</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ ELEMENT_DATA | json }}</pre>

        </mat-card-content>
      </mat-card>
      
      
</div>