:host{
    /* input{
        width: 100%;
    } */

    /* mat-card-title{
        font-weight: bolder;
    } */

    mat-form-field{
        width: 80%;
        margin-top: 10px;
    }

    button{
        width: 80%;
        background-color:#0033aa ;
        color: white;
    }

    mat-card{

        /* display:list-item; */
        display:flex;
        justify-content: center;
    }
}