:host{
    /* input{
        width: 100%;
    } */

    /* mat-card-title{
        font-weight: bolder;
    } */
    /* .card{
        justify-content: center;
    } */

    mat-form-field{
        width: 100%;
        margin-top: 5px;
        /* justify-content: center; */
    }

    button{
        width: 100%;
        background-color:#0033aa ;
        color: white;
    }

    mat-card{

        display:flex;
        justify-content: center;
    }
}