:host{
    .icon{
        width: 100%;
        
    }
    mat-card {
        width: 250px;
    }

    img{
        height: 200px;
    }

    .title{
        /* font-weight: bolder; */
        font-size: medium;
    }
}