<mat-card appearance="outlined">
  <mat-card-header>

      <mat-card-title>Data Quality Search</mat-card-title>
      <mat-card-subtitle>Search for data quality definitions</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
      <div class="container">
        <div class="row">
        <div class="col-5">
          <mat-form-field>
            <mat-label>Data Quality Rule</mat-label>
            <input matInput #input maxlength="10" placeholder="Eg: Email" />
          </mat-form-field>
        </div>
     
        <div class="col-5">
          <mat-form-field>
            <mat-label>Dimension</mat-label>
            <mat-select>
              <mat-option value="option">Timeliness</mat-option>
              <mat-option value="option">Accuracy</mat-option>
              <mat-option value="option">Validity</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button (click)="buttonClick()" mat-raised-button>Search</button>
        </div>
      </div>
        </div>
  </mat-card-content>
</mat-card>