<div class="container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Validate Data Quality Definitions</mat-card-title>
        </mat-card-header>
        <mat-card-content >
                <mat-form-field>
                  <mat-label>Data To Be Validated</mat-label>
                  <input matInput #input required />
                </mat-form-field>
  
           
                <mat-form-field>
                  <mat-label>DQ Dimension</mat-label>
                  <mat-select>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field>

                <button mat-raised-button>Validate Rule Definition</button>
        </mat-card-content>
      </mat-card>
    </div>