:host{

    mat-form-field{
        width: 80%;
        margin-top: 10px;
    }

    button{
        width: 80%;
        background-color:#0033aa ;
        color: white;
    }

    mat-card{
        display:flex;
        justify-content: center;
        width: 100%;
    }
}