:host{

    mat-form-field{
        width: 100%;
        margin-top: 10px;
    }

    mat-card-title{
        display: flex;
        justify-content: center;
    }

    button{
        width: 100%;
        background-color:#0033aa ;
        color: white;
    }

    .mat-card{
        display: flex;
        justify-content: center;
        /* justify-content:; */
        /* width: 100%; */
    }
}