.toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0033aa;
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .brand{
    font-size: larger;
    font-weight:bold;

  }